mixin card(id='', src='', title='', price='', className)
  article(class=['card', className], id=id)
    img.card__image(src=src, alt=title)
    p.card__description #{ title }
    .card__footer
      span.card__price #{ price }
      button.card__button
