mixin cart-product(src='', alt='', ittle='', price='', counter='', className)
  div(class=['cart-product', className])
    .cart-product__info
      img.cart-product__image(src=src, alt=alt)
      .cart-product__description
        .cart-product__title #{ ittle }
        .cart-product__price #{ price }
    .cart-product__ui
      button.cart-product__minus
      span.cart-product__counter #{ counter }
      button.cart-product__plus
      button.cart-product__delete
