mixin template-cart-product(src='', price='', id, counter='', className)
  div(class=['template-cart-product', className] id=id)
    .template-cart-product__info
      img.template-cart-product__image(src=src, alt=title)
      .template-cart-product__description
        .template-cart-product__title #{ title }
        .template-cart-product__price #{ price }
    .template-cart-product__ui
      button.template-cart-product__minus
      span.template-cart-product__counter #{ counter }
      button.template-cart-product__plus
      button.template-cart-product__delete
